
#notification-header {
	width:10%;
	padding: 10px;
	text-align:right;
	
	margin-left: 70%;
}
#notification-icon {
	padding: 10px;
	left: 0%;
	border: 0;
	position:relative;
	cursor:pointer;
	top: 0px;
	background: transparent;
	
}
#notification-count{
	position: absolute;
	left: 50px;
	top: 0px;
	font-size: 20px;		
	color:#FFF;
	font-weight:bold;
}




#notification-latest {
	color:#000;
	position: absolute;
	right: 0px;
	background:#FFF;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.20);		
	max-width: 300px;
	text-align: left;
	max-height:400px;
	overflow:auto;
	z-index:5;
}
.notification-item {
	padding:10px;
	border-bottom: #3ae2cb 1px solid;
	cursor:pointer;
}

.notification-comment {		
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style:normal;
}