*{
	margin:0;
	padding:0;
	list-style-type:none;
	font-family:"Times New Roman", Times, serif;
	
}
#container
{
	width:100%;
	height:2000px;
	background-color:#FFF;
	position:absolute;
}
#header
{
	top:2px;
	width:100%;
	height:75px;
	background-color:#333;
	position:absolute;
	
}
#hline{
	font-size: 50px;
color: yellow;
position: absolute;
padding: 0px 0px 0px 250px;
font-family: cursive;
}

#logo{
	    padding: 10px 0px 0px 100px;
		position:absolute;
		position:absolute;
}
#acc{
	    top:8px;
	    left:95%;
		position:absolute;
		position:absolute;
}
#sbox
{   top:12px;
    width: 80%;
	left:40%;
  
    position: absolute;
}

#search{
	width:38%;
    padding:10px;
    font-size:20px;
    border-radius:15px;
	position:absolute;
	text-align:center;
	 border:1px solid #6e48de;
	
}
#submit{
	position:absolute;
	margin-left:40%;
	
	
	
	

	}
	
#btn {
  position:absolute;
  top:10%;
  margin-left:90%;
  width:50px;
  height:35px;
  border-radius:50%;
  z-index:2;
  
  

}





#menu{
	width: 100%;
	height: 50px;
	top:58px;
	position: absolute;
}
a{
	display:block;
	padding:10px 0;
	color:#fff;
	text-decoration:none;
}

.main-menu{
	display:flex;
	margin-top:20px;
}
.main-menu>li{
	flex:1;
	text-align:center;
}

.main-menu>li>a{
	background:#06F;
}
.main-menu>li>a:hover{
	background:#FF0;
}
.sub-menu-layout-1>li>a{
	background:#06F;
}
.sub-menu-layout-1>li>a:hover{
	background:#FF0;
}
.sub-menu-layout-2>li>a{
	background:#06F;
}
.sub-menu-layout-2>li>a:hover{
	background:#FF0;
}
.sub-menu-layout-2>li>ul>li{
	z-index:1;
}

.main-menu>li:not(:first-child){
	margin-left:1px;
}

.sub-menu-layout-1>li{
	margin-top:1px;
}

.sub-menu-2{
	position:relative;
}
.sub-menu-layout-2{
	position:absolute;
	width:100%;
	left:100%;
	top:0%;
	z-index:1;
}
.sub-menu-layout-1{
		z-index:1;
		position:relative;
	
}

.sub-menu-layout-2>li:not(:first-child){
	margin-top:1px;
}

.sub-menu-layout-2{
	margin-left:1px;
}

.sub-menu>a:after{
	content:"";
	width:10px;
	height:10px;
	display:inline-block;
	border-right:3px solid #fff;
	border-bottom:3px solid #fff;
	margin-left:10px;
	transform:rotate(45deg);
	position:relative;
	transition:1s transform ease;
}

.sub-menu-2>a:after{
	transform:rotate(315deg);
}

li>a:hover{
	
	color:#00F;
	
}
li:hover{
	back
	
	
}
.sub-menu-layout{
	display:none;
}

.sub-menu-1:hover .sub-menu-layout-1,
.sub-menu-2:hover .sub-menu-layout-2{
	display:block;
	background:#FFF;
}

.sub-menu-1:hover>a:after{
	transform:rotate(-135deg);
	top:3px;
}

.sub-menu-2:hover>a:after{
	transform:rotate(135deg);
	
	
}

@media screen and (max-width:500px){
	.main-menu{
		flex-direction:column;
	}
	.sub-menu-1,.sub-menu-layout-2{
		position:static;
	}
	.main-menu>li:not(:first-child){
		margin-left:0;
		margin-top:1px;
	}
	
	.sub-menu-layout li:nth-child(n){
		margin:1px 0 0 0;
	}
	
	.sub-menu-2>a:after{
		transform:rotate(45deg);
	}
	
	.sub-menu-2:hover>a:after{
		transform:rotate(-135deg);
		top:3px;
	}
	
	.sub-menu-layout-1,.sub-menu-layout-2{
		display:block;
		margin:0;
		max-height:0px;
		overflow:hidden;
		transition:6s all ease;
	}
	
	.sub-menu-1:hover .sub-menu-layout-1,
	.sub-menu-2:hover .sub-menu-layout-2{
		max-height:350px;
	}


}
#vp{
	widows:100%;
	height:100px;
	top:300px;
	position:absolute;
	background-color:#333;
	
	
}

#dp{
	display:none;
	float:left;
	
}

	#footer {
    top: 2005px;
    width: 100%;
    height: 300px;
    position: absolute;
    background-color: #333;
}
#pt1{
	top:50px;
	width:40%;
	margin-left:50px;
	color:#FFF;
	position:absolute;
}
#pr2{
	top:50px;
	width:40%;
	margin-left:60%;
	color:#FFF;
	position:absolute;
}
@viewport{
	zoom:1.0;
	width: extend-to-zoom;
}
@-ms-viewport{
	width:extend-to-zoom;
	zoom:1.0;
}
#sup{
	top:200px;
	color:white;
	padding-top:30px;
	padding-left:60px;
	
	margin:auto;
	background:#03F;
	width:500px;
	border-radius:10px;
	opacity:.8;
	position:absolute;
	margin-left:350px;
}
#sup input{
	 margin-top:30px;
	 width:200px;
	 height:40px;
	font-size:15px;
	border-radius:5px;
	text-align:center;

}
#sup select{
	 margin-top:30px;
	 width:100px;
	 height:40px;
	font-size:15px;
	border-radius:5px;

}



#sup input[name="username"]{
	width:400px;
	
	
}

#sup input[name="password"]{
	width:400px;
}

#sup input[type="submit"]{
	margin:10px;
	width:150px;
	border-radius:50px;
	margin-left:280px;
	height:50px;
	background:blue;
	color:white;
	font-weight:bold;
}
#sup input[type="submit"]:hover{
	 
	background:white;
	color:blue;
	 
}

#display{
	top:565px;
	width:80%;
	height:1410px;
	background-color:#FFF;
	position:absolute;
	margin-left:10%;
	border:2px solid;
	display: inline-block;
	
		
}

#slider{
	top:120px;
	width:100%;
	height:350px;
	background-color:#6FC;
	position:absolute;
	display: inline-block;
	
		
}
#fb{
	top: 143px;

position: absolute;
	
	
}
#tw{
	top: 143px;
left: 50px;
position: absolute;
	
	
}
#lkd{
	top: 143px;
left: 100px;
position: absolute;
	
	
}
#ut{
	top: 143px;
left: 150px;
position: absolute;
	
	
}
#f1{
	
	top: 15px;
left: 0px;
position: absolute;
}
#f2{
	    top: 15px;
    left: 80px;
    position: absolute;
}
}
#f3{
top: 10px;
left: 400px;
position: absolute;
}
#f4{
	
	top: 35px;
left: 150px;
position: absolute;
}
#f5{
top: 35px;
left: 300px;
position: absolute;
}