*{
	margin:0;
	padding:0;
	list-style-type:none;
	font-family:"Times New Roman", Times, serif;
	font-size:15px;
}
#container
{
	width:100%;
	height:1200px;
	background-color:#DDD;
	position:absolute;
}
#header
{
	top:2px;
	width:100%;
	height:150px;
	background-color:#09C;
	position:absolute;
	
}
#hline{
	font-size: 70px;
    color: yellow;
    position: absolute;
    padding: 30px 0px 0px 250px;
    font-family: cursive;
}

#logo{
	    padding: 25px 0px 0px 100px;
		position:absolute;
}
#sbox
{
    width: 800px;
    padding: 60px 0px 0px 500px;
    position: absolute;
}

#search{
	width:500px;
    padding:10px;
    font-size:20px;
    border-radius:25px;
	position:absolute;
	text-align:center;
}
#submit{
	width:10%;
	padding:10px;
	font-size:20px;
	background-color:#F60;
	color:white;
	position:absolute;
	margin-left:500px;
	}
	
#cart{
	width: 100%;
    height: 150px;
    position: absolute;
	padding: 60px 0px 0px 1200px;
	
	
     }
	 
#cart1{
	background-image:url(image/cart-icon.jpg);
    width: 50px;
    height: 50px;
	font-size:20px;
	background-color:#F60;
	position:absolute;
	
}
#menu{
	width:100%;
	height:50px;
	top:135px;
	position:absolute;
}
a{
	display:block;
	padding:10px 0;
	color:#fff;
	text-decoration:none;
}

.main-menu{
	display:flex;
	margin-top:20px;
}
.main-menu>li{
	flex:1;
	text-align:center;
}

.main-menu>li>a{
	background:linear-gradient(to bottom, #008000, #000);
}

.sub-menu-layout-1>li>a{
	background:linear-gradient(to bottom, #802000, #000);
}

.sub-menu-layout-2>li>a{
	background:linear-gradient(to bottom, #008080, #000);
}

.main-menu>li:not(:first-child){
	margin-left:1px;
}

.sub-menu-layout-1>li{
	margin-top:1px;
}

.sub-menu-2{
	position:relative;
}
.sub-menu-layout-2{
	position:absolute;
	width:100%;
	left:100%;
	top:0%;
}

.sub-menu-layout-2>li:not(:first-child){
	margin-top:1px;
}

.sub-menu-layout-2{
	margin-left:1px;
}

.sub-menu>a:after{
	content:"";
	width:10px;
	height:10px;
	display:inline-block;
	border-right:3px solid #fff;
	border-bottom:3px solid #fff;
	margin-left:10px;
	transform:rotate(45deg);
	position:relative;
	transition:1s transform ease;
}

.sub-menu-2>a:after{
	transform:rotate(315deg);
}

li>a:hover{
	font-size:21px;
	color:#00F;
	
}

.sub-menu-layout{
	display:none;
}

.sub-menu-1:hover .sub-menu-layout-1,
.sub-menu-2:hover .sub-menu-layout-2{
	display:block;
	background-color:#F00;
}

.sub-menu-1:hover>a:after{
	transform:rotate(-135deg);
	top:3px;
}

.sub-menu-2:hover>a:after{
	transform:rotate(135deg);
	
}

@media screen and (max-width:500px){
	.main-menu{
		flex-direction:column;
	}
	.sub-menu-1,.sub-menu-layout-2{
		position:static;
	}
	.main-menu>li:not(:first-child){
		margin-left:0;
		margin-top:1px;
	}
	
	.sub-menu-layout li:nth-child(n){
		margin:1px 0 0 0;
	}
	
	.sub-menu-2>a:after{
		transform:rotate(45deg);
	}
	
	.sub-menu-2:hover>a:after{
		transform:rotate(-135deg);
		top:3px;
	}
	
	.sub-menu-layout-1,.sub-menu-layout-2{
		display:block;
		margin:0;
		max-height:0px;
		overflow:hidden;
		transition:6s all ease;
	}
	
	.sub-menu-1:hover .sub-menu-layout-1,
	.sub-menu-2:hover .sub-menu-layout-2{
		max-height:350px;
	}


}



#footer{
	top:1105px;
	width:100%;
	height:300px;
	position:absolute;
	background-color:#333;
}
#pt1{
	top:50px;
	width:40%;
	margin-left:50px;
	color:#FFF;
	position:absolute;
}
#pr2{
	top:50px;
	width:50%;
	margin-left:60%;
	color:#FFF;
	position:absolute;
}
@viewport{
	zoom:1.0;
	width: extend-to-zoom;
}
@-ms-viewport{
	width:extend-to-zoom;
	zoom:1.0;
	}
	